:root {
    --main-color: rgba(0, 0, 0, 0.2);
    --main-text-color: #ccc;
    --main-bg-color: #222;
    --special-border-color: #3498db;
    --special-bg-color: rgba(32, 64, 32, 1);
}

* {
    box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
    margin: 0;
    background: var(--main-bg-color);
    background-attachment: fixed;
    color: var(--main-text-color);
    text-align: center;
}

.table__container {
    width: 60%;
    margin: 0 auto 0;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-end;
}

table {
    box-shadow: 0 0 20px var(--main-color);
}

input {
    border: 0;
    background-color: transparent;
    color: var(--main-text-color);
    border-bottom: 1px solid var(--special-border-color);
    align-self: flex-end;
}

input::placeholder {
    color: var(--main-text-color);
}

.date-selection {
    display: none;
    flex-wrap: wrap;
}

.user-pannel {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

table {
    width: 100%;
    border-spacing: 0;
    margin-top: 20px;
}

h1 {
    font-size: 1.5rem;
    text-shadow: 5px 3px 1px var(--main-color);
    margin: 20px auto;
}

th,
td,
h1,
input {
    padding: 10px 20px;
}

th {
    border-bottom: 1px solid var(--special-border-color);
    background-color: var(--special-bg-color);
    text-transform: capitalize;
}

tbody tr:hover,
tbody tr td:hover {
    background-color: var(--main-color);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0;
    border-top: 8px solid var(--main-text-color);
    border-radius: 50px 0 0 0;
    width: 50px;
    height: 50px;
    animation: spin .7s linear infinite;
    transform-origin: 50px 50px;
}

.loader::before {
    content: '';
    position: absolute;
    background-color: var(--main-text-color);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: 46px;
    top: -8px;
}

.pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.pagination ul li:nth-child(3) {
    padding: 5px 10px;
    margin: 5px;
}

.button {
    padding: 5px 10px;
    background-color: var(--special-bg-color);
    cursor: pointer;
    margin: 5px;
    border: 0;
    color: var(--main-text-color);
}

.button:hover {
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
}

@keyframes spin {
  0% { transform: translate(-50px, -50px) rotate(0deg); }
  100% { transform: translate(-50px, -50px) rotate(360deg); }
}